<mat-card>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="isLoading == false">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="ادخل عنوان">
      <mat-error *ngIf="form.get('title')?.invalid">من فضلك ادخل عنوان</mat-error>
    </mat-form-field>

    <!-- Image upload -->
    <div>
      <button mat-stroked-button color="green" type="button" (click)="imagePicker.click()">اختر صورة حلوة</button>
      <input type="file" hidden = true #imagePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf='imagePreview != "" && imagePreview && form.get("image")?.valid'>
      <img [src]="imagePreview" width = "128" [alt]="form.value.title" style="box-shadow: 4px 4px 8px rgba(0,0,0,0.5);">
    </div>

    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="ادخل مقال"></textarea>
      <mat-error *ngIf="form.get('content')?.invalid">من فضلك ادخل مقال</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post</button>
  </form>
  <mat-spinner *ngIf="isLoading == true" style="margin: auto;"></mat-spinner>
</mat-card>
